.leadership-section {
  padding: 0 3rem;
  margin-top: var(--section-margins);
}
.leadership-container {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 1.2rem;
}
.background {
  background-color: var(--secondary-color);
}
.leader-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.leader-image {
  position: relative;
  overflow: hidden;
  border-radius: 7px;
  max-width: 300px;
}
.leader-image img {
  width: 100%;
  object-fit: cover;
  transition: var(--transition);
}
.leader-image img:hover {
  scale: 1.3;
}
.socials {
  position: absolute;
  background-color: var(--secondary-color);
  height: 100%;
  width: 15%;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: var(--transition);
}
.leader-image:hover .socials {
  transform: none;
}
.follow-text {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 17px;
  transform: rotate(-90deg);
}
.line {
  width: 0.2rem;
  height: 3rem;
  background-color: var(--main-color);
  transform: translateY(-0.7rem);
}
.socials ul {
  list-style: none;
}
.socials ul li {
  margin: 1rem 0;
  font-size: 20px;
}
.socials ul li a {
  color: inherit;
}
.leader-details {
  background-color: var(--light-shading);
  box-shadow: var(--box);
  border-bottom-right-radius: var(--button-radius);
  border-bottom-left-radius: var(--button-radius);
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 1rem;
  transform: translateY(-1rem);
}
.leader-name {
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
}

.leader-position {
  font-size: 18px;
  text-transform: capitalize;
  margin-top: 0.3rem;
  color: var(--greyish-shading);
}
.leader-bio {
  text-align: justify;
  margin-top: 0.4rem;
}

@media screen and (max-width: 992px) {
  .leadership-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 756px) {
  .leadership-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 550px) {
  .leadership-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .leadership-section {
    padding: 0 0.1rem;
  }
}
