header {
  width: 100vw;
  background-color: var(--main-color);
  padding: 0.5rem 2rem;
  position: fixed;
  top: 0;
  z-index: 200;
}
.header-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  background-color: var(--main-color);
  list-style: none;
  display: flex;
  gap: 1rem;
}
.header-list-item a,
.header-register-button {
  text-decoration: none;
  color: var(--light-shading);
  text-transform: capitalize;
  font-size: 18px;
}
.header-list-item a:hover {
  color: var(--secondary-color);
}
.header-logo img {
  max-width: 4rem;
}
.header-register-button {
  background-color: var(--secondary-color);
  border-radius: var(--button-radius);
  padding: 7px 8px;
  color: var(--main-color);
  transition: var(--transition);
}
.header-register-button:hover {
  color: var(--light-shading);
  background-color: transparent;
  border: 1px solid var(--secondary-color);
}

.bottom-header-list {
  display: none;
  text-align: center;
}
@media screen and (max-width: 650px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .upper-header-list {
    display: none;
  }
  .bottom-header-list {
    display: flex;
  }
}
