.footer {
  margin-top: 1.2rem;
  padding: 1rem 2rem;
  background-color: var(--main-color);
}
.footer-title {
  margin: 0.6rem auto;
  color: var(--light-shading);
}
.footer-subtitle {
  text-transform: uppercase;
  color: var(--light-shading);
}
.footer-content {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 1.5rem;
}
.footer-form,
.subscribe-description {
  color: var(--light-shading);
  margin-top: 1.5rem;
}
.footer-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer-form input[type="email"] {
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  background-color: transparent;
  color: var(--light-shading);
  outline: none;
  padding: 5px 7px;
  margin-right: 0.8rem;
  font-size: 17px;
}
.footer-form input[type="submit"] {
  border: none;
  background-color: var(--secondary-color);
  padding: 6px 8px;
  border-radius: var(--button-radius);
  cursor: pointer;
  transition: var(--transition);
  text-transform: capitalize;
}
.footer-form input[type="submit"]:hover {
  border: 1px solid var(--secondary-color);
  background-color: transparent;
  color: var(--light-shading);
}
.footer-links-div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.footer-link-item {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--light-shading);
}
.footer-copyright p {
  text-align: center;
  color: var(--light-shading);
}

@media screen and (max-width: 550px) {
  .footer {
    padding: 1rem;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
  }
}
