.tracks {
  padding: 0 2rem;
  margin-top: var(--section-margins);
}
.section-description {
  text-align: center;
  letter-spacing: 3px;
}
.track-section {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.track-item-image {
  display: grid;
  place-content: center;
}
.track-item-name {
  text-transform: capitalize;
  font-weight: 650;
  font-size: 18px;
  text-align: center;
  margin: 1rem 0;
}
.track-item-descripption {
  text-align: center;
  line-height: 1.5rem;
  letter-spacing: 1.2px;
}

.register-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}
.form {
  width: 50%;
}
.form-input {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin: 0.8rem auto;
}
.form-input label {
  font-size: 17px;
  font-weight: 500;
}
.form-input input,
.form-input select,
.form-submission input {
  padding: 7px 8px;
  font-size: 17px;
  outline: none;
}
.form-input ::placeholder {
  color: var(--secondary-color);
}
.form-input input:focus {
  border: none;
  border-bottom: 1px solid var(--secondary-color);
}
.form-submission input {
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 800;
  width: 100%;
  border: none;
  border-radius: 7px;
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: var(--transition);
}
.form-submission input:hover {
  background-color: transparent;
  border: 1px solid var(--secondary-color);
}

@media screen and (max-width: 950px) {
  .track-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 700px) {
  .track-section {
    grid-template-columns: repeat(1, auto);
  }
  .form {
    width: 70%;
  }
}
@media screen and (max-width: 576px) {
  .form {
    width: 100%;
  }
}
